[class*="col-"] {
	float: left;
	min-height: 100px;
 }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

body {
	width: 100%;
	color: #5a5a5a;
	font-family: 'Lato', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10vh 5vw 10vh 5vw;
}
.clearfix::before, .clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.button {
	box-sizing: border-box;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	color: white;
	background-color: #ed145b;
	padding-top: 18px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	margin: 10vh auto;
}
.title {
	font-family: "Lato - Light Italic", sans-serif;
	font-size: 38px;
	font-weight: 300;
	line-height: 52px;
	margin: 0 auto;
	text-align: center;
}
.text {
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}



.line-center {
	width: 200px;
	height: 2px;
	margin: 45px auto;
	background-color: #ed145b;
}
.line-left {
	width: 200px;
	height: 2px;
	margin: 45px 0;
	background-color: #ed145b;
}
.hero {
	background-image: url("../images/image.jpg");
	background-color: gray;
	background-position: center;
	background-size: cover;
	color: #FFF;
	width: 100%;
}
.logo {
	display: inline-block;
	width: 180px;
	height: 30px;
}
nav ul {
	margin-top: 7px;
}
nav ul {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	float: right;
}
nav ul li {
	display: inline-block;
	margin-left: 15px;
}
nav ul li:first-child {
	color: #ed145b;
}
.hero-title {
	margin-top: 25vh;
	font-size: 46px;
	font-weight: 300;
	letter-spacing: 1.15px;
	text-align: center;
}
.mache {
	font-weight: 900;
}
.hero-line {
	margin: 10vh auto;
}
.hero-text {
	font-size: 22px;
	font-weight: 300;
	line-height: 38px;
	letter-spacing: 0.55px;
	text-align: center;
}



.content {
	display: inline-block;
}
.service .content {
	margin-left: 15vw;
	margin-bottom: 10vh;
}
.service-top {
	background-color: #f4f4f4;
}
.service .title {
	margin-left: 0;
	width: 380px;
	text-align: left;
}
.service .text {
	max-width: 466px;
	text-align: left;
}

.fa-play {
	margin-top: 53px;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 8px;
	padding: 7px;
}
.video {
	color: #ed145b;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.laptop {
	position: absolute;
	width: 1100px;
}

.in-laptop {
	position: absolute;
	top: 80px;
	left: 135px;
	width: 830px;
}
.service .col-7 {
	position: relative;
}


.service-bottom {
	background-color: #fff;
}
.service-bottom .text {
	margin: 45px auto;
	min-width: 680px;
	text-align: center;
} 
.service-bottom .title {
	text-align: center;
	margin: 45px auto;
} 
.border {
	height: 57px; 
	width: 57px;
	padding: 25px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	margin: 0 auto 34px auto;
}
.service .col-3 {
	text-align: center;
}



.quote {
	background-image: url("../images/image.jpg");
	background-color: gray;
	background-position: top;
	background-size: cover;
	padding: 200px 0;
}
.quote-text {
	position: relative;
	margin: 0 auto;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	line-height: 40px;
	width: 824px;
}
.quote-text::before {
	content:'“';
	left: 365px;
	position: absolute;
	color: #ed145b;
	font-family: 'Karma', serif;	
	font-size: 300px;
}
.quote-text::after {
	position: absolute;
	content: '„';
	color: #ed145b;
	bottom: -50px;
	left: 365px;
	font-family: 'Karma', serif;	
	font-size: 300px;
}



.price {
	background-color: #f4f4f4;
}
.price .button {
	margin: 0;
	padding: 0;
}
.price .text {
	margin: 0 auto 100px auto;
	width: 680px;
	text-align: center;
} 
.type {
	background-color: #f4f4f4;
	color: #5a5a5a;
	border-radius: 25px;
	width: 200px;
	height: 50px;
	position: relative;
	top: -250px;
	left: 32px;
	box-sizing: border-box;
	padding-top: 18px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
.box {
	display: inline-block;
	border: 2px solid #D6D3CE;
	height: 443px;
	width: 262px;
	margin-right: 41px; 
	text-align: center;
	background-color: white;
}
.box:last-child {
	margin-right: 0;
}
.top-box {
	padding-top: 40px;
	background-color: #5a5a5a;
	color: #fff;
	width: 100%;
	height: 150px;
	font-weight: 600;
	font-size: 50px;
}
.bottom-box {
	padding-top: 20px;
	color: #5a5a5a;
	font-size: 15px;
	font-weight: 300;
	line-height: 38px;
	width: 100%;
}
.font-15 {
	font-size: 15px;
}
.font-20 {
	font-size: 20px;
}


.feature img {
	display: inline-block;
	float: left;
	margin: 15px 20px 0 0;
}
.feature .title {
	font-size: 15px;
	text-align: left;
	font-weight: 400;
}
.feature .text{
	text-align: justify;
	width: 280px;
	font-weight: 400;
}
.feature .row:first-child {
	margin-bottom: 40px;
}



.join {
	background-color: #ed145b;
	font-size: 38px;
}
.join .title {
	display: inline-block;
	color: white;
}
.join .button {
	display: inline-block;
	background-color: white;
	color: #ed145b;
	position: relative;
	top: -7px;
	left: 30px;
}



.update .row {
	margin-bottom: 50px; 
}

.update .content {
	box-sizing: border-box;
	padding: 20px;
	width: 360px;
	background-color: #f4f4f4;
}
.update .content .title {
	text-align: left;
	font-weight: 400;
	font-size: 15px;
}
.update .container > .text {
	font-size: 15px;
	width: 680px;
	text-align: center;
	margin: 0 auto 45px auto;
}


.show {
	background-image: url("../images/image.jpg");
	background-color: gray;
	background-position: center;
	background-size: cover;
	color: white;
}
.show .title {
	margin-top: 50px;
}
.show .text {
	text-align: center;
	margin: 0 auto;
	width: 680px;
}



.download {
	background-color: #f4f4f4;
	padding: 100px 100px;
}
.download img {
	display: inline-block;
	margin-right: 100px;
}
.download .content {
	vertical-align: top;
	width: 540px;
}
.download .title {
	text-align: left;
}
.download .line {
	margin-left: 0;
}
.download .text {
	text-align: left;
}
.download .button {
	margin-top: 50px;
	margin-left: 0;
}


footer {
	color: white;
	background-color: #2b2b2b;
}
.lspan {
	float: left;
}
.rspan {
	float: right;
}
footer img {
	position: relative;
	top: 2px;
	left: 2px;
}